<a href="https://colab.research.google.com/github/espSiyam/Algorithm/blob/master/Scrape_for_purchase_decision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

import pymysql.cursors
import pymysql
import pandas as pd
import numpy as np
from IPython.display import clear_output

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
# import pandas as pd
# import pymysql
# from sqlalchemy import create_engine

# connection = create_engine('mysql+pymysql://siyam:oOLlaAjkhwOBulpb@139.180.152.20/siyam')

# data.to_sql(con=connection, name = 'purchase_estimation', if_exists='replace', index=False)

In [ ]:
import gspread
import pandas as pd
from google.colab import auth
auth.authenticate_user()
from google.auth import default
from oauth2client.client import GoogleCredentials

creds, _ = default()
gc = gspread.authorize(creds)
# gc = gspread.authorize(GoogleCredentials.get_application_default())

# connect to google sheet file
wb = gc.open_by_key('17iY1RjVXygpSSZu438r5-6vDEG-JLap02JcOzCt3DDs')

####################################################################################3
######## specify which sheet for Dalim ########
person = "Dalim"
ws = wb.worksheet(person)

# get all values in sheet as dataframe and initialize header
rows = ws.get_all_values()

# Preparing dataset 
dalim_data = pd.DataFrame.from_records(rows)
dalim_data, dalim_data.columns = dalim_data[1:] , dalim_data.iloc[0]
dalim_data = dalim_data.reset_index(drop=True)

# Removing extra spaces and comma
dalim_data = dalim_data.rename(columns = {' Puchase Price ':'Puchase Price'})

dalim_data['Puchase Price'] = dalim_data['Puchase Price'].str.replace(' ', '')
dalim_data['Puchase Price'] = dalim_data['Puchase Price'].str.replace(',', '')

dalim_data['Total Purchase Cost'] = dalim_data['Total Purchase Cost'].str.replace(' ', '')
dalim_data['Total Purchase Cost'] = dalim_data['Total Purchase Cost'].str.replace(',', '')

dalim_data['Total QTY'] = dalim_data['Total QTY'].str.replace(' ', '')
dalim_data['Total QTY'] = dalim_data['Total QTY'].str.replace(',', '')

# Remove comma
dalim_data['Puchase Price'] = pd.to_numeric(dalim_data['Puchase Price'],errors='coerce')
dalim_data['Total Purchase Cost'] = pd.to_numeric(dalim_data['Total Purchase Cost'],errors='coerce')
dalim_data['Total QTY'] = pd.to_numeric(dalim_data['Total QTY'],errors='coerce')
dalim_data['Purchase man'] = person

# Finalizing the dataframe
dalim_data = dalim_data.dropna()

####################################################################################3
######## specify which sheet for Dalim ########
person = "Amzad"
ws = wb.worksheet(person)

# get all values in sheet as dataframe and initialize header
rows = ws.get_all_values()

# Preparing dataset 
amzad_data = pd.DataFrame.from_records(rows)
amzad_data, amzad_data.columns = amzad_data[1:] , amzad_data.iloc[0]
amzad_data = amzad_data.reset_index(drop=True)

# Removing extra spaces and comma
amzad_data = amzad_data.rename(columns = {' Puchase Price ':'Puchase Price'})

amzad_data['Puchase Price'] = amzad_data['Puchase Price'].str.replace(' ', '')
amzad_data['Puchase Price'] = amzad_data['Puchase Price'].str.replace(',', '')

amzad_data['Total Purchase Cost'] = amzad_data['Total Purchase Cost'].str.replace(' ', '')
amzad_data['Total Purchase Cost'] = amzad_data['Total Purchase Cost'].str.replace(',', '')

amzad_data['Total QTY'] = amzad_data['Total QTY'].str.replace(' ', '')
amzad_data['Total QTY'] = amzad_data['Total QTY'].str.replace(',', '')

# Remove comma
amzad_data['Puchase Price'] = pd.to_numeric(amzad_data['Puchase Price'],errors='coerce')
amzad_data['Total Purchase Cost'] = pd.to_numeric(amzad_data['Total Purchase Cost'],errors='coerce')
amzad_data['Total QTY'] = pd.to_numeric(amzad_data['Total QTY'],errors='coerce')
amzad_data['Purchase man'] = person

# Finalizing the dataframe
amzad_data = amzad_data.dropna()

# Appending the datasets
data = dalim_data.append(amzad_data)
data = data.reset_index(drop=True)

data.tail(3)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

,SL,SKU,Catagory,Product,Varient,Sourcing Location,Puchase Price,Unit,Total QTY,Total Purchase Cost,Purchase man
52,28,F_PV5226,Vegetable,শিম,নরসিংদী বিচি ছাড়া ex,Kawran Bazar,87.0,KG,32.0,2784.0,Amzad
53,29,F_PV2444,Vegetable,শিম,কামরাঙ্গা শিম,Kawran Bazar,62.0,KG,32.0,1984.0,Amzad
54,30,F_PV0108,Vegetable,শিমের বিচি,সাদা চট্টগ্রাম,Kawran Bazar,92.0,KG,32.0,2944.0,Amzad

In [ ]:
price_data = data[['Product', 'Varient', 'Unit', 'Puchase Price', 'Total QTY', 'Total Purchase Cost', 'Purchase man']]
price_data['key'] = price_data['Product'] +"_"+ price_data['Varient'] +"_"+ price_data['Unit']
price_data['secondary_key'] = price_data['Product'] +"_"+ price_data['Varient']
price_data = price_data[['key', 'secondary_key', 'Puchase Price', 'Total QTY', 'Total Purchase Cost', 'Purchase man',]]
price_data.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,key,secondary_key,Puchase Price,Total QTY,Total Purchase Cost,Purchase man
0,কাঁঠাল_কাঁচা ছোট সাইজ_KG,কাঁঠাল_কাঁচা ছোট সাইজ,77.0,32.0,2464.0,Dalim
1,কাঁঠাল_কাঁচা বড় সাইজ_KG,কাঁঠাল_কাঁচা বড় সাইজ,65.0,32.0,2080.0,Dalim
2,কাঁঠাল_পাকা ছোট সাইজ_KG,কাঁঠাল_পাকা ছোট সাইজ,62.0,32.0,1984.0,Dalim

## Read WH stocks

In [ ]:
# connect to google sheet file
wb = gc.open_by_key('1rW9DRNDwjj3KP_ubqL12cR9KqIzCP36Bec0uZpehL70')
person = "Sheet1"

ws = wb.worksheet(person)
rows = ws.get_all_values()

# Preparing dataset 
wh_data = pd.DataFrame.from_records(rows)
wh_data, wh_data.columns = wh_data[2:] , wh_data.iloc[1]
wh_data = wh_data.reset_index(drop=True)

wh_data["WH QC Pass Stock "] = pd.to_numeric(wh_data["WH QC Pass Stock "])

wh_data = wh_data.rename(columns={'Purchase':'Purchase QTY',
                                  'QTY':'unit',
                                  'WH QC Pass Stock ':'WH QC Pass Stock',})
wh_data['Product'] = wh_data['Product'].str.upper()
wh_data['Variant'] = wh_data['Variant'].str.upper()
wh_data['unit'] = wh_data['unit'].str.upper()
wh_data['key'] = wh_data['Product'] +"_"+wh_data['Variant'] +"_"+wh_data['unit']
wh_data = wh_data[['key', 'WH QC Pass Stock','unit']]
wh_data = wh_data.fillna(0)
wh_data.head(3)

1                    key  WH QC Pass Stock unit
0  অ্যালোভেরা PCS_বড়_PCS               2.0  PCS
1    আটা_ময়দা জেনারেল_KG               3.0   KG
2            আদা_দেশি_KG               4.0   KG

## SKU rank order

In [ ]:
# connect to google sheet file
wb = gc.open_by_key('1fijWfXzf30DDak7Hkfk9i5s9kvSMNDzjUwycl5iArsM')
person = "Sheet1"

ws = wb.worksheet(person)
rows = ws.get_all_values()

# Preparing dataset 
rank_order = pd.DataFrame.from_records(rows)
rank_order, rank_order.columns = rank_order[1:] , rank_order.iloc[0]
rank_order['Product'] = rank_order['Product'].str.upper()
rank_order['Variant'] = rank_order['Variant'].str.upper()
rank_order['key'] = rank_order["Product"] +"_"+ rank_order["Variant"]
rank_order.tail(4)

0        Product Variant       Location Rank_Order             key
1136  বিলাতি গাব     বড়          Dhaka          2  বিলাতি গাব_বড়
1137  বিলাতি গাব     বড়  Kawaran Bazar          3  বিলাতি গাব_বড়
1138  বিলাতি গাব     ছোট          Dhaka          2  বিলাতি গাব_ছোট
1139  বিলাতি গাব     ছোট  Kawaran Bazar          3  বিলাতি গাব_ছোট

## Prepurchase Quantity

In [ ]:
prepurchase_data = data[['Product','Varient', 'Unit', 'Total QTY']].copy()
prepurchase_data['key'] = prepurchase_data['Product'] +"_"+ prepurchase_data['Varient'] +"_"+ prepurchase_data['Unit']
prepurchase_data = prepurchase_data[['key', 'Total QTY', 'Unit']]
prepurchase_data.head(2)

0                       key  Total QTY Unit
0  কাঁঠাল_কাঁচা ছোট সাইজ_KG       32.0   KG
1   কাঁঠাল_কাঁচা বড় সাইজ_KG       32.0   KG

### Merging prepurchase and warehouse

In [ ]:
final_prepurchase_data = prepurchase_data.merge(wh_data, on='key', how='left')
final_prepurchase_data = final_prepurchase_data.fillna(0)

final_prepurchase_data["final_qunatity"] = final_prepurchase_data['Total QTY'] - final_prepurchase_data['WH QC Pass Stock']
final_prepurchase_data[['Product','Variant','unit']]=final_prepurchase_data.key.str.split('_',expand=True)
final_prepurchase_data['secondary_key'] = final_prepurchase_data['Product'] +"_"+ final_prepurchase_data['Variant']

# final_prepurchase_data = final_prepurchase_data[['key', 'secondary_key', 'final_qunatity', '']]
final_prepurchase_data.head(3)

,key,Total QTY,Unit,WH QC Pass Stock,unit,final_qunatity,Product,Variant,secondary_key
0,কাঁঠাল_কাঁচা ছোট সাইজ_KG,32.0,KG,0.0,KG,32.0,কাঁঠাল,কাঁচা ছোট সাইজ,কাঁঠাল_কাঁচা ছোট সাইজ
1,কাঁঠাল_কাঁচা বড় সাইজ_KG,32.0,KG,0.0,KG,32.0,কাঁঠাল,কাঁচা বড় সাইজ,কাঁঠাল_কাঁচা বড় সাইজ
2,কাঁঠাল_পাকা ছোট সাইজ_KG,32.0,KG,0.0,KG,32.0,কাঁঠাল,পাকা ছোট সাইজ,কাঁঠাল_পাকা ছোট সাইজ

## Mergining the dataframe

In [ ]:
price_prepurchase = price_data.merge(final_prepurchase_data, on='key', how='left')
price_prepurchase = price_prepurchase[['key', 'secondary_key_x', 'Puchase Price', 'Total QTY_x', 'final_qunatity', 'Total Purchase Cost']]
price_prepurchase.rename(columns = {'secondary_key_x':'secondary_key', 'Total QTY_x':'Purchase Quantity', 'final_qunatity':'final_qunatity_removing_stock'}, inplace = True)
price_prepurchase.tail(2)

,key,secondary_key,Puchase Price,Purchase Quantity,final_qunatity_removing_stock,Total Purchase Cost
103,শিম_কামরাঙ্গা শিম_KG,শিম_কামরাঙ্গা শিম,62.0,32.0,32.0,1984.0
104,শিমের বিচি_সাদা চট্টগ্রাম_KG,শিমের বিচি_সাদা চট্টগ্রাম,92.0,32.0,32.0,2944.0

In [ ]:
all_data = rank_order.merge(price_prepurchase, how = 'left', left_on="key", right_on="secondary_key")
all_data = all_data[['key_y', 'Rank_Order', 'Product', 'Variant', 'Location', 'Puchase Price', 'Purchase Quantity', 'final_qunatity_removing_stock', 'Total Purchase Cost']]
all_data.rename(columns = {'key_y':'key'}, inplace = True)
all_data['prod_var'] = all_data['Product'] +"_"+ all_data['Variant']
all_data.head(2)

,key,Rank_Order,Product,Variant,Location,Puchase Price,Purchase Quantity,final_qunatity_removing_stock,Total Purchase Cost,prod_var
0,কাঁঠাল_কাঁচা ছোট সাইজ_KG,3,কাঁঠাল,কাঁচা ছোট সাইজ,Kawaran Bazar,77.0,32.0,32.0,2464.0,কাঁঠাল_কাঁচা ছোট সাইজ
1,কাঁঠাল_কাঁচা ছোট সাইজ_KG,3,কাঁঠাল,কাঁচা ছোট সাইজ,Kawaran Bazar,77.0,32.0,32.0,2464.0,কাঁঠাল_কাঁচা ছোট সাইজ

## Adding the features

## Filter no souce data

In [ ]:
no_source_data = all_data[all_data['key'].isnull()]
no_source_data = no_source_data[['Product', 'Variant', 'Location', 'Rank_Order']]
no_source_data.tail(2)

         Product Variant       Location Rank_Order
1263  বিলাতি গাব     ছোট          Dhaka          2
1264  বিলাতি গাব     ছোট  Kawaran Bazar          3

## Filter best offers

In [ ]:
prod_var_list = (set(final_data['prod_var']))

In [ ]:
sku_list = []
product_list = []
variant_list = []
rank_list = []
location_list = []
pp_list = []
pq_list = []
tp_cost_list = []
fq_rm_list = []

for pv in prod_var_list:
  temp_data = final_data[final_data['prod_var']==pv]
  max_rank = max(temp_data['Rank_Order'])
  best_skus = temp_data[temp_data['Rank_Order']==max_rank]
  lowest_price = best_skus[best_skus['Puchase Price']==min(best_skus['Puchase Price'])]

  for key in lowest_price['key']:
    sku_list.append(key)
  for prod in lowest_price['Product']:
    product_list.append(prod)
  for var in lowest_price['Variant']:
    variant_list.append(var)
  for rank in lowest_price['Rank_Order']:
    rank_list.append(rank)
  for loc in lowest_price['Location']:
    location_list.append(loc)
  for pp in lowest_price['Puchase Price']:
    pp_list.append(pp)
  for pq in lowest_price['Purchase Quantity']:
    pq_list.append(pq)
  for rs in lowest_price['final_qunatity_removing_stock']:
    fq_rm_list.append(rs)
  for tc in lowest_price['Total Purchase Cost']:
    tp_cost_list.append(tc)

In [ ]:
decision_data = pd.DataFrame({
  'key': sku_list,
  'product': product_list,
  'variant': variant_list,
  'rank': rank_list,
  'location': location_list,
  'price': pp_list,
  'quantity': pq_list,
  'quantity_removing_stock': fq_rm_list,
  'total_purchase_cost': tp_cost_list
})

In [ ]:
decision_data

,key,product,variant,rank,location,price,quantity,quantity_removing_stock,total_purchase_cost
0,বরবটি_সবুজ MD_KG,বরবটি,সবুজ MD,3,Kawaran Bazar,92.0,32.0,30.0,2944.0
1,বরবটি_সবুজ MD_KG,বরবটি,সবুজ MD,3,Kawaran Bazar,92.0,32.0,30.0,2944.0
2,বরবটি_সবুজ MD_KG,বরবটি,সবুজ MD,3,Kawaran Bazar,92.0,32.0,30.0,2944.0
3,বরবটি_সবুজ MD_KG,বরবটি,সবুজ MD,3,Kawaran Bazar,92.0,32.0,30.0,2944.0
4,শিম_শিম লালচে_KG,শিম,শিম লালচে,3,Kawaran Bazar,92.0,32.0,32.0,2944.0
...,...,...,...,...,...,...,...,...,...
91,বরবটি_লাল খাটো_KG,বরবটি,লাল খাটো,3,Kawaran Bazar,77.0,32.0,32.0,2464.0
92,বরবটি_সবুজ বড়_KG,বরবটি,সবুজ বড়,3,Kawaran Bazar,62.0,32.0,30.0,1984.0
93,বরবটি_সবুজ বড়_KG,বরবটি,সবুজ বড়,3,Kawaran Bazar,62.0,32.0,30.0,1984.0
94,বরবটি_সবুজ বড়_KG,বরবটি,সবুজ বড়,3,Kawaran Bazar,62.0,32.0,30.0,1984.0
95,বরবটি_সবুজ বড়_KG,বরবটি,সবুজ বড়,3,Kawaran Bazar,62.0,32.0,30.0,1984.0

## Pushing data to database

In [87]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

connection = create_engine('mysql+pymysql://siyam:oOLlaAjkhwOBulpb@139.180.152.20/siyam')

decision_data.to_sql(con=connection, name = 'purchase_estimation_instruction', if_exists='replace', index=False)